.axis--x path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

tbody {
    display: block;
    overflow: auto;
}

.tbody-100 {
    height: 100px;
}

.tbody-200 {
    height: 200px;
}

.tbody-330 {
    height: 330px;
}

.tbody-400 {
    height: 400px;
}

.tbody-matching {
    height: 500px;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.row {
  margin: 20px;
}

.margin-top {
  margin-top: 100px;
}

#alert {
  position: fixed;
  z-index: 1000;
}
